.floating-letter {
  animation: liquidFloat 10s linear infinite;
}

.L {
  animation-delay: 1s;
}
.a {
  animation-delay: 2.5s;
}
.u {
  animation-delay: 3.46s;
}
.g {
  animation-delay: 5.23s;
}
.h {
  animation-delay: 4.83s;
}
.i {
  animation-delay: 7.44s;
}
.n {
  animation-delay: 6.1s;
}
.g {
  animation-delay: 8.14s;
}
.D {
  animation-delay: 9.46s;
}
.r {
  animation-delay: 0.58s;
}
.o {
  animation-delay: 3.37s;
}
.C {
  animation-delay: 6.83s;
}
.f {
  animation-delay: 5.22s;
}
.e {
  animation-delay: 2.88s;
}

@keyframes liquidFloat {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px) rotate(10deg);
  }

  75% {
    transform: translateY(-2px) rotate(-10deg);
  }

  100% {
    transform: translateY(0);
  }
}

.blob-dark,
.blob-lighter {
  animation: blobsDark 20s ease-in-out infinite;
}
.blob-light {
  animation: blobsLight 21s ease-in-out infinite;
}
.blob-dark:nth-child(1) {
  animation-delay: -3s;
}
.blob-dark:nth-child(2) {
  animation-delay: -7s;
}
.blob-light:nth-child(3) {
  animation-delay: -12s;
}
.blob-light:nth-child(4) {
  animation-delay: -4s;
}
.blob-lighter {
  animation-delay: -15s;
}

@keyframes blobsDark {
  0% {
    left: 0;
    top: 0;
  }

  50% {
    left: calc(100% - 300px);
    top: calc(100% - 300px);
  }

  100% {
    left: 0;
    top: 0;
  }
}
@keyframes blobsLight {
  0% {
    left: calc(100% - 300px);
    top: 0;
  }

  50% {
    left: 0;
    top: calc(100% - 300px);
  }

  100% {
    left: calc(100% - 300px);
    top: 0;
  }
}

.cup-of-coffee {
  animation: cup-entrance 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation-delay: 0.5s;
}

@keyframes cup-entrance {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .family-photo {
    animation: family-photo-changer 10s alternate ease-in-out infinite;
  }
  .shop-photo {
    animation: shop-photo-changer 10s alternate ease-in-out infinite;
  }

  @keyframes family-photo-changer {
    0% {
      background-image: url("../images/base-images/happy-couple.jpeg");
    }
    100% {
      background-image: url("../images/base-images/happy-couple-DND.jpg");
    }
    50% {
      background-image: url("../images/base-images/happy-couple.jpeg");
    }
    0% {
      background-image: url("../images/base-images/happy-couple.jpeg");
    }
  }

  @keyframes shop-photo-changer {
    0% {
      background-image: url("../images/base-images/DND-IRL.jpg");
    }
    100% {
      background-image: url("../images/base-images/tavern-in-DND.jpeg");
    }
    50% {
      background-image: url("../images/base-images/DND-IRL.jpg");
    }
    0% {
      background-image: url("../images/base-images/DND-IRL.jpg");
    }
  }
}

@media (min-width: 1025px) {
  nav a:hover {
    background-color: #624832;
    color: #ece0d1;
  }

  .family-photo:hover {
    background-image: url("../images/base-images/happy-couple-DND.jpg");
  }

  .shop-photo:hover {
    background-image: url("../images/base-images/tavern-in-DND.jpeg");
  }

  .card-body {
    color: transparent;
  }

  .card:hover .card-title {
    font-size: 0;
    margin: 0;
  }

  .card:hover .card-body {
    color: #ece0d1;
  }

  .special-card {
    height: 20rem;
  }

  .special-card .special-content p {
    visibility: hidden;
    opacity: 0;
  }

  .special-card:hover {
    height: 30rem;
  }

  .special-card:hover .special-content p {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }

  .event-card-image {
    left: 30%;
    width: 70%;
  }

  .event-card:hover .event-card-image {
    left: 0;
    width: 35%;
  }
}
