html {
  background-color: #977359;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 2000px) {
  body {
    width: 2000px;
  }
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 2000px;
  height: 10rem;
  background-color: #ece0d1;
  font-size: xx-large;
  z-index: 1;
}

nav a {
  color: #624832;
  padding: 10px;
  height: 50%;
  text-decoration: none;
  transition: all 0.5s;
}

[aria-controls="nav-list"] {
  display: none;
  background-color: transparent;
  color: #624832;
  border: none;
  font-size: xx-large;
  height: fit-content;
}

.hero {
  position: relative;
  background-color: #38220f;
  color: #ece0d1;
  font-family: "Rubik Moonrocks", serif;
  height: 700px;
  padding: 10rem 5px 5px 5px;
}

.hero,
nav {
  mask: radial-gradient(180px at 50% calc(100% - 240px), #000 100%, #0000 100%)
      calc(50% - 160px) 0/320px 100%,
    radial-gradient(180px at 50% calc(100% + 160px), #0000 100%, #000 100%) 50%
      calc(100% - 80px) / 320px 100% repeat-x;
}

.shop-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 80px;
  padding: 20px;
  gap: 10px;
}

.laughing-dragons,
.coffee-den {
  display: flex;
  gap: 5px;
}

.tagline {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  padding: 50px 20px;
  gap: 10px;
}

.laughing-over-lattes,
.a-brew-tiful {
  display: flex;
  gap: 5px;
}

.blobs-glass {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(125px);
  z-index: -1;
}

.blob {
  position: absolute;
  height: 30%;
  top: 0;
  left: 0;
  aspect-ratio: 1;
  border-radius: 50%;
}

.blob-dark {
  background: #624832;
  z-index: -4;
}

.blob-light {
  background: #977359;
  z-index: -3;
}

.blob-lighter {
  background: #dbc2ad;
  z-index: -2;
}

.cup-of-coffee {
  position: absolute;
  background-image: url("../images/base-images/laughing-dragon-mug.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30rem;
  aspect-ratio: 1;
  top: 250px;
  right: 5%;
}

.about-us,
.specials,
.fan-art {
  padding-top: 5rem;
  font-size: xx-large;
  color: #ece0d1;
}

h2,
h3 {
  text-align: center;
}

.humble-beginnings,
.our-dream {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.our-dream {
  flex-direction: row-reverse;
}

.story {
  text-align: justify;
}

.family-photo {
  background-image: url("../images/base-images/happy-couple.jpeg");
}

.shop-photo {
  background-image: url("../images/base-images/DND-IRL.jpg");
}

.family-photo,
.shop-photo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 200em;
  min-height: 30rem;
  border-radius: 50%;
  box-shadow: inset 0px 0px 30px 30px #dbc2ad;
  transition: all 1s;
}

.menu,
.events {
  color: #38220f;
  background-color: #ece0d1;
  padding: 10rem 5px;
  font-size: xx-large;
  mask: radial-gradient(180px at 50% 240px, #000 100%, #0000 100%)
      calc(50% - 160px) 0/320px 50% repeat-x,
    radial-gradient(180px at 50% -160px, #0000 100%, #000 100%) 50% 80px/320px
      calc(50% - 80px) repeat-x,
    radial-gradient(180px at 50% calc(100% - 240px), #000 100%, #0000 100%)
      calc(50% - 160px) 100%/320px 50% repeat-x,
    radial-gradient(180px at 50% calc(100% + 160px), #0000 100%, #000 100%) 50%
      calc(100% - 80px) / 320px calc(50% - 80px) repeat-x;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 60px;
}

.card div,
.card-image img {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.card-image {
  width: 400px;
  height: 250px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  margin: -20px auto;
  margin-bottom: -35px;
  height: 300px;
  width: 300px;
  background-color: #38220f;
  color: #ece0d1;
  padding: 20px;
}

.card-meal-type {
  font-style: italic;
}

.card-title {
  font-size: 1.9rem;
  margin-bottom: 20px;
  margin-top: 5px;
  transition: all 0.75s;
}

.card-body {
  font-size: 1.25rem;
  text-align: justify;
  transition: all 1.5s;
}

.card-price {
  width: 100px;
  height: 100px;
  background-color: #624832;
  color: #ece0d1;
  margin-left: auto;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.combos .card-image {
  display: flex;
}

.combos .card-image img {
  width: 50%;
}

.combos .card-price {
  width: 250px;
}

.specials h2 {
  margin-bottom: 75px;
}

.special,
.special-container,
.special-card {
  display: flex;
  flex-direction: column;
}

.special,
.special-container {
  align-items: center;
  justify-content: center;
}

.special-container,
.special-card {
  position: relative;
  padding: 20px;
}

.special-card,
.special-image,
.special-card .card-price {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.special-card {
  width: 70%;
  height: 30rem;
  background-color: #dbc2ad;
  margin: 120px 10px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.special-image {
  position: relative;
  width: 400px;
  height: 250px;
  top: -40%;
  border-radius: 10px;
}

.special-image img {
  width: 400px;
  max-height: 100%;
  border-radius: 10px;
}

.special-content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #624832;
  text-align: center;
}

.special-content p {
  visibility: visible;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.special-card .card-price {
  color: #dbc2ad;
  background-color: #38220f;
  position: absolute;
  top: 90%;
  right: -30px;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
}

.events-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  width: 100%;
}

.event-card {
  position: relative;
  width: 70%;
  height: 30rem;
  background-color: #624832;
  color: #dbc2ad;
  border-radius: 20px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.event-cover {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.event-titles {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-titles .event-name {
  font-size: x-large;
}

.event-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100%;
  border-radius: 20px;
  transition: all 1s ease-in-out;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.event-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.event-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  padding: 20px 30px;
}

.fan-art {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 10rem;
}

.art {
  width: 50%;
  height: 40rem;
  border-radius: 20px;
  text-align: right;
}

.art img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.contact-us {
  font-size: xx-large;
  padding-top: 10rem;
  background-color: #38220f;
  color: #ece0d1;
  display: flex;
  justify-content: center;
  align-items: center;
  mask: radial-gradient(180px at 50% 240px, #000 100%, #0000 100%)
      calc(50% - 160px) 0/320px 100%,
    radial-gradient(180px at 50% -160px, #0000 100%, #000 100%) 50% 80px/320px
      100% repeat-x;
}

.contact-us-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-message {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 45%;
}

.contact-message h2 {
  margin-top: 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form {
  background-color: rgba(236, 224, 209, 0.5);
  box-shadow: inset 0px 0px 20px 20px rgb(236, 224, 209, 0.5);
  text-shadow: 1px 1px 2px rgb(236, 224, 209, 0.5),
    0 0 1em rgb(236, 224, 209, 0.5), 0 0 0.2em rgb(236, 224, 209, 0.5);
  color: #38220f;
  margin: 20px;
  padding: 20px;
  width: 45%;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.name-input-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.name {
  flex: 1;
}

.phone-input-container {
  display: flex;
  width: 100%;
  gap: 10px;
}

.phone-input-container .phone:nth-child(1),
.phone-input-container .phone:nth-child(3) {
  flex: 0.5;
}

.phone-input-container .phone:nth-child(5) {
  flex: 1;
}

input {
  font-size: x-large;
  height: 2rem;
  border: none;
  color: #38220f;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(236, 224, 209, 0.5),
    0 0 1em rgb(236, 224, 209, 0.5), 0 0 0.2em rgb(236, 224, 209, 0.5);
}

input[type="submit"] {
  background-color: #38220f;
  color: #ece0d1;
  width: 50%;
  height: 4rem;
  margin-top: 20px;
}

.form-submit {
  align-items: center;
}

textarea {
  font-size: x-large;
  border-radius: 10px;
  height: 8rem;
  resize: none;
  border: none;
  box-shadow: 1px 1px 2px rgb(236, 224, 209, 0.5),
    0 0 1em rgb(236, 224, 209, 0.5), 0 0 0.2em rgb(236, 224, 209, 0.5);
}

@media (min-width: 1025px) {
  nav a:hover {
    background-color: #624832;
    color: #ece0d1;
  }

  .family-photo:hover {
    background-image: url("../images/base-images/happy-couple-DND.jpg");
  }

  .shop-photo:hover {
    background-image: url("../images/base-images/tavern-in-DND.jpeg");
  }

  .card-body {
    color: transparent;
  }

  .card:hover .card-title {
    font-size: 0;
    margin: 0;
  }

  .card:hover .card-body {
    color: #ece0d1;
  }

  .special-card {
    height: 20rem;
  }

  .special-card .special-content p {
    visibility: hidden;
    opacity: 0;
  }

  .special-card:hover {
    height: 30rem;
  }

  .special-card:hover .special-content p {
    margin-top: 30px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
  }

  .event-card-image {
    left: 30%;
    width: 70%;
  }

  .event-card:hover .event-card-image {
    left: 0;
    width: 35%;
  }
}

@media (max-width: 1439px) {
  .shop-name {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-size: 50px;
  }

  .tagline {
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    font-size: 30px;
  }

  .cup-of-coffee {
    width: 25rem;
    top: 350px;
    right: calc(50% - 12.5rem);
  }

  .event-card {
    font-size: x-large;
  }

  .event-card .event-content {
    padding: 0 20px;
  }

  .art {
    height: 30rem;
  }

  .contact-info {
    font-size: 22px;
  }
}

@media (max-width: 979px) {
  nav {
    font-size: large;
    justify-content: center;
    height: 9rem;
  }

  .shop-name {
    font-size: 30px;
  }

  .tagline {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 20px;
  }

  .about-us {
    font-size: xx-large;
  }

  .humble-beginnings,
  .our-dream {
    flex-direction: column;
  }

  .family-photo,
  .shop-photo {
    width: 100%;
    border-radius: 20%;
  }

  .specials {
    font-size: x-large;
  }

  .contact-us-container {
    flex-direction: column;
  }

  .contact-message {
    align-items: center;
  }

  .contact-message,
  .contact-form {
    width: 100%;
  }

  .contact-info {
    width: fit-content;
  }

  .art {
    height: 15rem;
    font-size: large;
  }

  .event-card {
    height: 15rem;
    font-size: small;
  }
}

@media (max-width: 624px) {
  nav {
    font-size: small;
    height: 8rem;
  }

  .hero {
    padding: 5rem 5px 5px 5px;
  }

  .shop-name {
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: 10px;
  }

  .tagline {
    padding: 10px;
    font-size: 12px;
  }

  .cup-of-coffee {
    width: 18rem;
    top: 300px;
    right: calc(50% - 9rem);
  }

  .info {
    font-size: small;
  }

  .family-photo {
    background-size: contain;
  }

  .family-photo,
  .shop-photo {
    min-height: 0;
    aspect-ratio: 1;
  }

  .container {
    padding: 20px 10px;
  }

  .card {
    width: 200px;
    margin-bottom: 30px;
  }

  .card-image {
    width: 200px;
    height: 125px;
  }

  .card-content {
    margin: -10px auto;
    margin-bottom: -17.5px;
    height: 150px;
    width: 150px;
    padding: 10px;
  }

  .card-title,
  .card-meal-type {
    font-size: 0.95rem;
    margin-bottom: 10px;
    margin-top: 2.5px;
  }

  .card-body {
    font-size: 0.625rem;
  }

  .card-price {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }

  .combos .card-price {
    width: 125px;
  }

  .special-image {
    width: 200px;
    height: 125px;
  }

  .special-container,
  .special-card {
    padding: 10px;
  }

  .special-card {
    height: 15rem;
    margin: 60px 5px;
  }

  .special-image img {
    width: 200px;
    max-height: 100%;
  }

  .special-content {
    font-size: small;
    top: -70px;
    padding: 5px 7.5px;
  }

  .special-card .card-price {
    right: -15px;
  }

  .event-card,
  .event-titles .event-name {
    font-size: x-small;
  }

  .event-card .event-content {
    padding: 0 10px;
  }
}

@media (max-width: 424px) {
  nav {
    justify-content: flex-end;
  }

  nav a {
    display: none;
  }

  [aria-controls="nav-list"] {
    display: block;
    padding: 0 10px;
  }

  .special-content {
    font-size: x-small;
  }

  .contact-us-container {
    font-size: small;
  }

  .contact-info,
  form input,
  form textarea {
    font-size: smaller;
  }

  .event-card {
    height: 10rem;
    font-size: xx-small;
  }

  .art {
    height: 10rem;
    font-size: x-small;
  }
}
